.containerInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #f0f0f0;
}
.containerInput input{
    display: inline-block;
  	outline: 0; 
  	border: 0;
	background: #f0f0f0;
	color: #7b7b7b;
	font-size: 1em;
	font-family: 
	'Quicksand', sans-serif;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 22px;

    transition: all 0.25s ease;
    margin-right: 5px;
}
.containerInput textarea{
    display: inline-block;
  	outline: 0; 
  	border: 0;
	background: #f0f0f0;
	color: #7b7b7b;
	font-size: 1em;
	font-family: 
	'Quicksand', sans-serif;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 22px;

    transition: all 0.25s ease;
    margin-right: 5px;
}
.containerSelectors {
    display: flex;
    flex-direction: row;
    margin-top: 2.2%;
    justify-content: space-evenly;
    color: #f0f0f0;
}
.gen {
    margin: 2%;
}
.plat{
    margin: 2px;
}

.errors {
    margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.errors p {
    color: red;
}