.landPre {
    position: relative;
    justify-content: center;
    left: 23vw;
    top: 23vh;
}
.containerLand{
    position: absolute;
    background-image: url('https://images.pexels.com/photos/194511/pexels-photo-194511.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    ////////////////////////
    display:flex;
    justify-content:center;
    
    height:100vh; /*Este valor lo puedes omitir si la altura de tu componente esta definida*/
    width: 100vw;
    animation-name: opacidad;
    animation-duration: 4s;
}
@keyframes opacidad {
    from {opacity: 0.0;}
    to {opacity: 1.0;}
}

.landing {
    position: absolute;
    height: 57%;
    text-align: center;
    color: #051627;
    top: 30%;
    -webkit-text-stroke: 2px rgba(0, 195, 255, 0.604);
    font-size: 3vh;
}
@mixin buttonDefault($fondo: #051627, $color: rgb(255, 255, 255)) {
    background-color: $fondo;
    color: $color;
    border: none;
    border-radius: 30px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.btnLand{
    @include buttonDefault()
    
}
.btnLand:hover{
    @include buttonDefault(rgb(18, 117, 163), white)
}