.containerParentPaged{
    position: relative;
    display: flex;
    justify-content: center;
    
    top: 7.9vh;
    margin-bottom: 5vh;
}

.containerParentPaged ul li a {
    text-decoration: none;
    color: rgb(78, 86, 128);
    border: solid 2px white;
    border-radius: 10%;
    padding: 0.5vh;
}
.containerParentPaged ul li a:hover {
    color: burlywood;
    font-size: 90%;
}
.containerParentPaged ul {
    list-style: none;
    font-size: 3vh;
    padding-top: 10px;
}

.containerParentPaged ul li {
    display: inline-block;
    cursor: pointer;
    padding: 0 30px 0 0;
    font-weight: bold;
}