.searchFilterParent{
    position: relative;
	background-color: #192129;
	box-shadow: 5px 5px 30px 5px rgba(51, 43, 124, 0.556);
	height: 13%;
	width: 40%;
	top: 4vh;
	left: 30vw;
	border-radius: 40px;
	// transition: 0.1s;
}
.searchFilterParent:hover{
	box-shadow: 5px 5px 30px 5px rgba(43, 124, 73, 0.7);
}
//SERACH
.search{
    position: relative;
	left: 29%;
	top: 15%;
	// overflow: visible;
}
.search input{
	height: 4vh;
	width: 40%;
	margin-top: 3%;

	outline: 0; 
  	border: 0;
	display: inline-block;
	font-size: 1em;
	font-family: 
	'Quicksand', sans-serif;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 22px;
	transition: all 0.25s ease;
    margin-right: 5px;
    
}
.search button{
	// height: 2em;
}
.search button:hover {
    background-color: rgb(108, 152, 209);
}

//FILTER
.selectors {
    position: relative;
	left: 28%;
	top: 8%;
	// margin: 1%;
}
.selectors select{
	margin: 1%;
	width: 20%;
	margin-bottom: 3%;

	outline: 0; 
  	border: 0;
	background: #f0f0f0;
	color: #7b7b7b;
	font-size: 1em;
	font-family: 
	'Quicksand', sans-serif;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 22px;
}
